{% extends "base.html" %}
{% load static %}
{% block csslinks %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset_confirm.css' %}">
    <style>
        ul li{
            color:#00e6d1;    
        }
    </style>
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <div style="padding:0 10vw;">
            <div class="announce">
                <h1><strong>Already Signed In!!😊😊😊</strong></h1>
                <a href="{% url 'home' %}" class="btn btn-primary">Go to HomePage</a>
            </div>
        </div>
    {% else %}
        {% if validlink %}
            <div class="container-fluid">
                <div class="passwordresetconfirm-box">
                    <div class="form-nav">
                        <li class="passwordresetconfirm-active"><a class="btn">Change Password</a></li>
                    </div>
                    <div class="form">
                        <form class="form-passwordresetconfirm" method="POST" name="form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="btn-animate">
                                <input type="submit" class="btn-passwordresetconfirm" style="color:white;" value="Change Password">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div style="padding:20vh 10vw;">
                <div class="announce">
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Go to LoginPage!!</a>
                </div>
            </div>
            
        {% endif %}
    {% endif %}
{% endblock %}