{% extends 'base.html' %}
{% block content %}
    <style>
        .announce{
            text-align:center; 
            background-color: aliceblue;
            padding:2rem;
          }
        
          .announce > a {
            font-size:2.5rem;
            margin:2rem;
            margin-bottom:1rem;
          }
          p {
              font-size:3rem;
          }
    </style>
    <div style="padding:0 10vw;">
        <div class="announce">
            <p>
                We've emailed you instructions👍👍 for setting your password, if an account exists with the email you entered.
                You should receive them shortly.🙏🙏
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder📂📂.
            </p>
            <a href="{% url 'home' %}" class="btn btn-primary">Go to HomePage</a>
        </div>
    </div>
  
{% endblock %}