{% extends "base.html" %}
{% load static %}
{% block csslinks %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset.css' %}">
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <div style="padding:0 10vw;">
            <div class="announce">
                <h1><strong>Already Signed In!!😊😊😊</strong></h1>
                <a href="{% url 'home' %}" class="btn btn-primary">Go to HomePage</a>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="passwordreset-box">
                <div class="form-nav">
                    <li class="passwordreset-active"><a class="btn">Forgot Password</a></li>
                </div>
                <div class="form">
                    <form class="form-passwordreset" method="POST" name="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="btn-animate">
                            <input type="submit" class="btn-passwordreset" style="color:white;" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}